<header>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-9">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="menuValue">
                    <ul>
                        <li (click)="closeMenu()">Lista</li>
                        <li (click)="closeMenu()">Cadastro</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>